.nav-items{
color: black;
margin-right: 10px;
width: 120px;

}

.nav-tabs{
    display: flex;
    justify-content: center;
    border-bottom: 0px;
    margin-bottom: 12px;
    
}

.dropdown-menu{
top: 0 !important;
right: 30% !important;
left: 20% !important;
padding-bottom: 12px;

}
::marker{
color: white;

}
.dropdown{
padding-bottom: 12px;
max-width: 50%;
margin: 16px auto;
border: 2px solid darkslategrey;
border-radius: 24px;

}