.icon{
cursor: pointer;


}
.accordion-container {
    margin-bottom: 20px;
    width: 50%; /* Set the width to 50% */
  margin-left: auto; /* Center the accordion horizontally */
  margin-right: auto;
}

  
.accordion-container:last-child {
    margin-bottom: 0;
}
  
.accordion-container .icons-container {
    display: flex;
    align-items: center;
}
  
.accordion-container .icons-container .icon {
    margin-left: 10px;
    cursor: pointer;
}
  
  .accordion-container .icons-container input[type="checkbox"] {
    margin-left: 10px;
  }
  