.icon{
cursor: pointer;


}
.accordion-container {
    margin-bottom: 20px;
    width: 50%; /* Set the width to 50% */
  margin-left: auto; /* Center the accordion horizontally */
  margin-right: auto;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

@media screen and (max-width: 1200px) {
  .card-container {
  max-width: 90%;
  margin: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  }
}


  
.card-container:last-child {
    margin-bottom: 0;
}
  
.card-container .icons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
  
.card-container .icons-container .icon {
    margin-left: 10px;
    cursor: pointer;
}
  
  .card-container .icons-container input[type="checkbox"] {
    margin-left: 10px;
    margin-bottom: 4px;
  }
  