.icon{
cursor: pointer;


}


.card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: darkslategrey;
  margin: 16px;
  padding: 16px;
  border-radius: 24px;
}

.card-description{
height: 10vh;
overflow-y: auto;

}

@media screen and (max-width: 1200px) {
  .card-container {
  margin: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  }
}


  
.card-container:last-child {
    margin-bottom: 0;
}
  
.card-container .icons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
  
.card-container .icons-container .icon {
    margin-left: 10px;
    cursor: pointer;
}
  
  .card-container .icons-container input[type="checkbox"] {
    margin-left: 10px;
    margin-bottom: 4px;
  }
  
.nodata-container{
margin-top: 10%;
}  