/* .App {
  text-align: center;
  width: 100%;
  height: 1000px;
  background-color: #ccc;
}

.taskbutton{
padding: 10px;

} */



.App {
  text-align: center;
   padding-top: 20px;
   padding-bottom: 64px;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.taskbutton {
  margin-bottom: 20px;
  margin-left: 12px;
  border-radius: 24px !important;
  width: 90px;
}
.task-btn{
  border-radius: 24px !important;
}

.Toastify__toast {
  font-size: 16px;
  border-radius: 4px;
}

.Toastify__toast--success {
  background-color: #43a047;
}

.Toastify__toast--error {
  background-color: #f44336;
}

.Task {
  margin-top: 20px;
}
.todo-title {
  font-size: 32px; /* Increase the font size */
  background: linear-gradient(to right, #ff0000, #00ff00, #0000ff); /* Apply multicolor background */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.task-counter {
  position: absolute;
  top: 30px;
  right: 50px;
  display: flex;
}

.completed-counter {
  margin-right: 10px;
  color: green;
}

.pending-counter {
  color: red;
}
@media screen and (max-width: 740px) {
  .header-container{
  display: flex;
  align-items: center;
  /* flex-direction: column;   */
  }
  .task-counter{
  position: absolute;
  right: 35px;
  }
  .todo-title{
  margin-left: 16px;  
  }
  .button-container{
  padding: 1rem 1rem !important;  

  }
}

.button-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
}

.modal-content{

border-radius: 24px;  
}